---
# Core Configuration
# https://www.home-assistant.io/docs/configuration/basic/
homeassistant:
  packages: !include_dir_named packages
  latitude: !secret latitude_home
  longitude: !secret longitude_home
  elevation: 0
  unit_system: metric
  time_zone: Africa/Johannesburg
  name: Home
  allowlist_external_dirs: # changed from whitelist_external_dirs to allowlist_external_dirs in 0.113.0
    - /config/
  #customize: !include includes/customize.yaml
default_config:
#frontend:
#  themes: !include_dir_merge_named themes
http: !include includes/http.yaml

# Logging and history

# ########################################
# ###              LOGGING             ###
# ########################################
history: !include logging/history.yaml
logbook: !include logging/logbook.yaml
logger: !include logging/logger.yaml

recorder: !include includes/recorder.yaml
influxdb: !include includes/influxdb.yaml


# Managed via UI
scene: !include scenes.yaml
automation: !include automations.yaml
script: !include scripts.yaml

# Global inputs
input_boolean:
  guest:
    name: Guest mode
  holiday:
    name: Holiday mode

# Devices
camera: !include includes/camera.yaml
ffmpeg:
  ffmpeg_bin: /usr/bin/ffmpeg

#surepetcare: !include includes/surepetcare.yaml

# Sensors
sensor: !include includes/sensors.yaml

# Others
shell_command: !include includes/shell_commands.yaml
notify: !include includes/notify.yaml
proximity: !include includes/proximity.yaml
discovery: !include includes/discovery.yaml

python_script:

#alexa:
#  smart_home:
#    locale: en-GB
#    endpoint: https://api.amazonalexa.com/v3/events
#    client_id: !secret alexa_client_id
#    client_secret: !secret alexa_client_secret
#    filter:
#      include_domains:
#        - switch
#        - light
