---
# Core Configuration
# https://www.home-assistant.io/docs/configuration/basic/
homeassistant:
  packages: !include_dir_named packages
  latitude: !secret latitude_home
  longitude: !secret longitude_home
  elevation: 0
  unit_system: metric
  time_zone: Africa/Johannesburg
  name: Home
  allowlist_external_dirs: # changed from whitelist_external_dirs to allowlist_external_dirs in 0.113.0 
    - /config/
  customize: !include includes/customize.yaml
default_config:
frontend:
  themes: !include_dir_merge_named themes
http: !include includes/http.yaml

# Logging and history
logger: !include includes/logger.yaml
recorder: !include includes/recorder.yaml
#device_tracker: !include includes/device_trackers.yaml

# Managed via UI
scene: !include scenes.yaml
automation: !include automations.yaml
script: !include scripts.yaml

# Devices
camera: !include includes/camera.yaml
ffmpeg:
  ffmpeg_bin: /usr/bin/ffmpeg

surepetcare: !include includes/surepetcare.yaml

# Sensors
sensor: !include includes/sensors.yaml

# Others
person: !include includes/persons.yaml
shell_command: !include includes/shell_commands.yaml
notify: !include includes/notify.yaml
light: !include includes/lights.yaml
proximity: !include includes/proximity.yaml
speedtestdotnet: !include includes/speedtestdotnet.yaml
discovery: !include includes/discovery.yaml
mqtt: !include includes/mqtt.yaml
influxdb: !include includes/influxdb.yaml
python_script:

alexa:
  smart_home:
    locale: en-GB
    endpoint: https://api.amazonalexa.com/v3/events
    client_id: !secret alexa_client_id
    client_secret: !secret alexa_client_secret
    filter:
      include_domains:
        - switch
        - light

