<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value=""/>
  </header>
  <plate>
    <metadata key="index" value="1"/>
    <metadata key="printer_model_id" value="BL-P001"/>
    <metadata key="nozzle_diameters" value="0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="9758"/>
    <metadata key="weight" value="89.16"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="false"/>
    <metadata key="label_object_enabled" value="true"/>
    <metadata key="filament_maps" value="1 1"/>
    <object identify_id="465" name="calipers v7.stl" skipped="false" />
    <filament id="1" tray_info_idx="GFL99" type="PLA" color="#FFFFFF" used_m="28.58" used_g="85.24" />
    <filament id="2" tray_info_idx="GFL99" type="PLA" color="#FFFFFF" used_m="1.31" used_g="3.92" />
  </plate>
</config>
