<?xml version="1.0" encoding="UTF-8"?>
<config>
  <header>
    <header_item key="X-BBL-Client-Type" value="slicer"/>
    <header_item key="X-BBL-Client-Version" value=""/>
  </header>
  <plate>
    <metadata key="index" value="6"/>
    <metadata key="printer_model_id" value="BL-P001"/>
    <metadata key="nozzle_diameters" value="0.4"/>
    <metadata key="timelapse_type" value="0"/>
    <metadata key="prediction" value="3216"/>
    <metadata key="weight" value="15.17"/>
    <metadata key="outside" value="false"/>
    <metadata key="support_used" value="false"/>
    <metadata key="label_object_enabled" value="true"/>
    <object identify_id="261" name="spacer-Body.stl" skipped="false" />
    <object identify_id="291" name="spacer-Body.stl" skipped="false" />
    <object identify_id="321" name="spacer-Body.stl" skipped="false" />
    <object identify_id="361" name="spacer-Body.stl" skipped="false" />
    <object identify_id="676" name="spacer-Body.stl" skipped="false" />
    <object identify_id="696" name="spacer-Body.stl" skipped="false" />
    <object identify_id="716" name="spacer-Body.stl" skipped="false" />
    <object identify_id="736" name="spacer-Body.stl" skipped="false" />
    <object identify_id="756" name="spacer-Body.stl" skipped="false" />
    <filament id="1" tray_info_idx="GFG99" type="PETG" color="#161616" used_m="4.97" used_g="15.17" />
    <warning msg="bed_temperature_too_high_than_filament" level="1" error_code ="1000C001"  />
  </plate>
</config>
